<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <span routerLink="movie/all">MLDP</span>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="grid">
      <div *ngIf="!isLoggedIn" class="col-4">
        <div class="p-inputgroup">
          <button (click)="guestLogin()" pButton pRipple type="button" label="Invitado" class="p-button-warn"></button>
          <!-- <button routerLink="auth/signin" pButton pRipple type="button" label="Login" class="p-button-primary"></button>
          <button routerLink="auth/signup" pButton pRipple type="button" label="Registo" class="p-button-outlined p-button-primary"></button> -->
        </div>
      </div>

      <div class="grid p-fluid" [ngClass]="!isLoggedIn ? 'col-8' : 'col-12'">
        <div class="col-12 md:col-5">
          <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="options" [(ngModel)]="optionField" optionLabel="value" placeholder="Películas"></p-dropdown>
        </div>

        <div class="col-12 md:col-7">
            <div class="p-inputgroup">
              <input [(ngModel)]="searchQuery" type="text" pInputText placeholder="Buscar..." (keyup.enter)="search()">
              <button type="button" pButton pRipple icon="pi pi-search" styleClass="p-button-warn" (click)="search()"></button>
            </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-menubar>
