<main class="grid" style="padding: 1em;">
  <p-card class="col-12 avatar align-center">

    <div class="col-12 md:col-4">
      <div class="p-inputgroup">
          <button type="button" pButton pRipple label="Buscar" (click)="search()"></button>
          <input type="text" pInputText placeholder="Nombre de la película" [(ngModel)]="searchQuery" >
      </div>
   </div>

  </p-card>

  <p-card class="col-12 avatar align-center">
    <h1>Categorias</h1>
    <p-chip *ngFor="let genre of genres" [label]='genre.name' styleClass="mr-2 mb-2"></p-chip>
  </p-card>

</main>
