<div class="grid">
  <main class="lg:col-10 lg:col-offset-1 col-12 grid" style="margin: 0 auto;">
    <p-toast></p-toast>

    <p-card *ngFor="let film of showContent; let i = index" class="lg:col-2 md:col-3 sm:col-4 col-12">

      <img style="width: 100%" alt="Card" [src]="'https://image.tmdb.org/t/p/w500' + film.poster_path" >

      <ng-template pTemplate="title">
          {{ film.original_name }}
      </ng-template>

      <div class="grid">
        <div class="col">
          <button pButton pRipple icon="pi pi-eye" class="p-button-rounded" [routerLink]="'/tv/'+film.id"></button>
        </div>
        <div class="col">
          <button *ngIf="user" (click)="addToFavourite('tv/'+film.id)" pButton pRipple type="button" icon="pi pi-heart" class="p-button-rounded p-button-help col"></button>
        </div>
        <div class="col">
          <button *ngIf="user" (click)="op.toggle($event)" pButton pRipple type="button" icon="pi pi-bookmark" class="p-button-rounded p-button-warning col"></button>
        </div>
      </div>

      <p-overlayPanel #op>
        <ng-template pTemplate>
            <p-listbox [options]="groupedCities" [group]="true" [(ngModel)]="selectedCountries[i]" [metaKeySelection]="false"
              [checkbox]="true" [filter]="true" [multiple]="true" [listStyle]="{'max-height':'250px'}"
              [style]="{'width':'15rem'}" optionLabel="title" (onClick)="showSuccess(film.id,selectedCountries[i])" >

            <ng-template let-group pTemplate="group">
              <div class="flex align-items-center">
                <span>{{group.label}}</span>
              </div>
            </ng-template>

          </p-listbox>
        </ng-template>
      </p-overlayPanel>

    </p-card>
  </main>
</div>
