<div class="grid">
  <main class="lg:col-10 lg:col-offset-1 col-12 grid" style="padding: 1em">
    <p-card class="md:col-3 col-12 poster">
      <ng-template pTemplate="content">
        <img style="width: 100%" alt="Card" [src]="(content?.poster_path ?
        ('https://image.tmdb.org/t/p/w500' + content.poster_path) :
        'https://png.clipart.me/previews/90c/movie-poster-background-vector-material-17011.jpg')">
      </ng-template>
    </p-card>

    <p-card class="md:col-9 col-12 contentInfo">
      <ng-template pTemplate="title">
        <span>{{ ((typeOfContent === 'movie') ? content?.original_title : content?.original_name) }}</span>
        <span *ngIf="content?.release_date"> - {{ (content?.release_date | date:'YYYY') }}</span>
      </ng-template>

      <ng-template pTemplate="subtitle" *ngIf="content?.original_title">
        {{content?.original_title}}
      </ng-template>

      <ng-template pTemplate="content">
        <p-tabView>
          <p-tabPanel header="Sinópsis">
            <p *ngIf="content?.runtime">{{ content?.runtime }} min.</p>
            <p *ngIf="content?.overview">{{ content?.overview }}</p>
            <br>
            <p><p-chip *ngFor="let genre of content?.genres" [label]='genre.name' styleClass="mr-2 mb-2"></p-chip></p>
          </p-tabPanel>
          <p-tabPanel header="Datos">
            <ul>
              <li *ngIf="content?.tagline">Frase: {{ content?.tagline }}</li>
              <li *ngIf="content?.production_countries.lenght > 0">Países de rodaje: <p-chip *ngFor="let country of content?.production_countries" [label]='country.name' styleClass="mr-2"></p-chip>
              <li *ngIf="content?.original_language">Idioma original: {{ content?.original_language }}</li>
              <li *ngIf="content?.budget">Presupuesto: {{ content?.budget | currency:'USD' }}</li>
              <li *ngIf="content?.revenue">Ganancias: {{ content?.revenue | currency:'USD' }}</li>
            </ul>
          </p-tabPanel>
        </p-tabView>
      </ng-template>
    </p-card>
  </main>
</div>
