$mediaMaxMobile: 480px;
$mediaMaxtablet: 768px;
$mediaMaxlaptop: 1024px;
$mediaMaxdesktop: 1200px;
$mediaMinlarge: 1201px;


:host ::ng-deep {
  .poster {
    overflow: hidden;

    .p-card-content {
      padding: 0;
      position: relative;

      img {
        width: 100%;
      }

      button {
        bottom: 10px;
        right: 5px;
        opacity: 0.9;
        position: absolute;
      }
    }

    @media (max-width: $mediaMaxMobile) {
      height: 350px;
    }
  }

  .trailerModal {
    width: 50vw;
    height: 70vh;

    @media (max-width: $mediaMaxMobile) {
      width: 100vw;
    }
  }
}
