<div class="card col-12 mb-3">

  <p-table #dt [value]="users" [rows]="rows" [paginator]="paginator"
    [globalFilterFields]="['username']" responsiveLayout="scroll" [rowHover]="true"
    dataKey="id" currentPageReportTemplate="Mostrando desde el amigo {first} al {last} de {totalRecords} amigos."
    [showCurrentPageReport]="true">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="username">Username <p-sortIcon field="title"></p-sortIcon></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>{{user.username | titlecase}}</td>
        <td>
          <button pButton pRipple icon="pi pi-eye" class="p-button-rounded mr-2"
            [routerLink]="'/user/'+user.username"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        En total tienes {{users ? users.length : 0 }} listas.
      </div>
    </ng-template>
  </p-table>
</div>
