<main class="mt-3 mb-6" style="width: 250px;margin: 0 auto;text-align:center">
  <p-card>
    <h1>Inicio de sesión</h1>
    <form [formGroup]="signinForm" class="p-fluid grid" (keyup.enter)="signIn()">
      <div class="field col-12 mt-3">
        <span class="p-float-label">
          <input type="text" id="inputtext" pInputText formControlName="identifier" required>
          <label for="inputtext">Email</label>
        </span>
        <small class="p-error block" style="height: 7px;">
          <span *ngIf="invalidField('identifier')">{{errorMessage('identifier')}}</span>
        </small>
      </div>

      <div class="field col-12">
        <span class="p-float-label">
          <input type="password" id="inputpassword" pPassword formControlName="password" [feedback]="false" required>
          <label for="inputpassword">Contraseña</label>
        </span>
        <small class="p-error block" style="height: 7px;">
          <span *ngIf="invalidField('password')">{{errorMessage('password')}}</span>
        </small>
      </div>

      <button (click)="signIn()" pButton pRipple type="button" label="Entrar" class="p-button-rounded"></button>

      <div class="col-12 mt-1" style="height: 15px; ">
        <small class="p-error block">
          <span *ngIf="signinForm.errors?.['accessFail']">Datos incorrectos o el usuario no existe</span>
        </small>
      </div>
    </form>
  </p-card>
</main>
