<main class="mt-3 mb-6" style="width: 350px;margin: 0 auto;text-align:center">
  <p-card>
    <h1>Inicio de sesión</h1>
    <form [formGroup]="registerForm" class="p-fluid grid">
      <div class="field col-12 mt-3">
        <span class="p-float-label">
          <input type="text" id="inputtext" pInputText formControlName="username" required>
          <label for="inputtext">Usuario</label>
        </span>
        <small class="p-error block" style="height: 7px;">
          <span *ngIf="invalidField('username')">{{errorMessage('username')}}</span>
        </small>
      </div>

      <div class="field col-12 mt-3">
        <span class="p-float-label">
          <input type="text" id="inputtext" pInputText formControlName="email" required>
          <label for="inputtext">Email</label>
        </span>
        <small class="p-error block" style="height: 7px;">
          <span *ngIf="invalidField('email')">{{errorMessage('email')}}</span>
        </small>
      </div>

      <div class="field col-12">
        <span class="p-float-label">
          <input type="password" id="inputpassword" pPassword formControlName="password" [feedback]="false" required>
          <label for="inputpassword">Contraseña</label>
        </span>
        <small class="p-error block" style="height: 7px;">
          <span *ngIf="invalidField('password')">{{errorMessage('password')}}</span>
        </small>
      </div>

      <div class="field col-12">
        <span class="p-float-label">
          <input type="password" id="inputpassword" pPassword formControlName="password2" [feedback]="false" required>
          <label for="inputpassword">Indica otra vez tu contraseña</label>
        </span>
        <small class="p-error block" style="height: 7px;">
          <span *ngIf="invalidField('password2')">{{errorMessage('password2')}}</span>
        </small>
      </div>

      <button (click)="signUp()" pButton pRipple type="button" label="Registro" class="p-button-rounded" [disabled]="!registerForm.valid || registerForm.pending"></button>

    </form>
  </p-card>
</main>
