$mediaMaxMobile: 480px;
$mediaMaxtablet: 768px;
$mediaMaxlaptop: 1024px;
$mediaMaxdesktop: 1200px;
$mediaMinlarge: 1201px;


:host ::ng-deep {
  .avatar {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;

    .p-card-body {
      height: 100%;

      .p-card-content {
        overflow: hidden;
        height: 100%;
        padding: 0;

        .p-image {
          width: 100%;
        }
      }
    }

    @media (max-width: $mediaMaxMobile) {
      height: 350px;
    }
  }

  textarea {
    width: 100%;
  }

}
