<p-toast></p-toast>

<div class="card col-12 mb-3">
  <p-toolbar *ngIf="buttonAddList">
    <ng-template pTemplate="left">
      <button pButton pRipple label="Nueva lista" icon="pi pi-plus" class="p-button-success mr-2"
        (click)="openNew()"></button>
    </ng-template>
  </p-toolbar>

  <p-table #dt [value]="lists" [rows]="rows" [paginator]="paginator"
    [globalFilterFields]="['title','description','author','public']" responsiveLayout="scroll" [rowHover]="true"
    dataKey="id" currentPageReportTemplate="Mostrando desde la lista {first} a la {last} de {totalRecords} listas."
    [showCurrentPageReport]="true">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="title">Nombre <p-sortIcon field="title"></p-sortIcon>
        </th>
        <th pSortableColumn="description">Descripción <p-sortIcon field="description"></p-sortIcon>
        </th>
        <th pSortableColumn="author" *ngIf="authorColumn">Autor <p-sortIcon field="author"></p-sortIcon>
        </th>
        <th pSortableColumn="public" *ngIf="modeColumn">Modo <p-sortIcon field="public"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-list>
      <tr>
        <td>{{list.title | titlecase}}</td>
        <td>{{list.description | titlecase}}</td>
        <td *ngIf="authorColumn"><span [routerLink]="'/user/'+list.username" class="author">{{list.username | titlecase}}</span></td>
        <td *ngIf="modeColumn">{{((list.public) ? 'público' : 'privado') | titlecase}}</td>
        <td>
          <button pButton pRipple icon="pi pi-eye" class="p-button-rounded mr-2"
            [routerLink]="'/user/'+list.username+'/list/'+list.id"></button>
          <button *ngIf="isLoggedIn && (list.username !== userAuth?.username) && !buttonDeleteSavedList" pButton pRipple icon="pi pi-heart" class="p-button-rounded p-button-warning mr-2"
            (click)="saveList(list)"></button>
          <button *ngIf="buttonEditList" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
            (click)="updateList(list)"></button>
          <button *ngIf="buttonDeleteList && (!reservedLists.includes(list.user_list_count))" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
            (click)="destroyList(list)"></button>
          <button *ngIf="buttonDeleteSavedList" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
          (click)="deleteSavedList(list)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary" *ngIf="userLists?.username">
      <div class="flex align-items-center justify-content-between">
        En total tienes {{lists ? lists.length : 0 }} listas.<a *ngIf="!paginator"
          [routerLink]="'/user/'+userLists?.username+'/lists'">Ver todas las listas</a>
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="listDialog" [style]="{width: '450px'}" header="Datos de la lista" [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="field">
      <label for="title">Title</label>
      <input type="text" pInputText id="title" [(ngModel)]="list.title" required autofocus [disabled]="reservedLists.includes(list.user_list_count!)" />
      <small class="p-error" *ngIf="submitted && !list.title">Title is required.</small>
    </div>
    <div class="field">
      <label for="description">Description</label>
      <textarea id="description" pInputTextarea [(ngModel)]="list.description" required rows="3" cols="20"></textarea>
    </div>
    <div class="field">
      <h5 class="m-0 mb-1">Público</h5>
      <p-inputSwitch [(ngModel)]="list.public"></p-inputSwitch>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="storeList()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
