:host ::ng-deep {
  img, span {
    cursor: pointer;
  }

  .points {

    width: 50px;
    height: 50px;
    overflow: hidden;

    span {
      font-family: 'Poppins',sans-serif;
      font-size: 1.5em;
      font-weight: bold;
      color:#16A34A;
    }
  }

  .p-card-body {
    padding-top: 0em;
  }

  .p-card,.p-card-footer,.p-card-content {
    padding: 0!important;
  }

  .p-card-title {
    width: 100%; /* the element needs a fixed width (in px, em, %, etc) */
    height: 35px;
    overflow: hidden; /* make sure it hides the content that overflows */
    white-space: nowrap; /* don't break the line */
    text-overflow: ellipsis; /* give the beautiful '...' effect */
    text-align: center;
  }

  .imageContainer {
    height: 311.78px;
    overflow: hidden;
    position: relative;

    img {
      height: 100%;
    }

    button {
      bottom: 5px;
      right: 5px;
      opacity: 0.9;
      position: absolute;
    }
  }

}
