<p-toast></p-toast>

<p-card>
  <ng-template pTemplate="title" >
      <span [routerLink]="'/'+type+'/'+((type !== 'user') ? content.id : content.username)">
        {{
          (
            (type === 'movie') ? content.original_title : (
              (type === 'tv') ? content.original_name : content.username
            ) | titlecase
          )
        }}
      </span>
  </ng-template>

  <ng-template pTemplate="content">
    <img *ngIf="content.poster_path" style="width: 100%;" alt="Card" [src]="(type !== 'user') ? ('https://image.tmdb.org/t/p/w500' + content.poster_path) : 'content.image'"  [routerLink]="'/'+type+'/'+((type !== 'user') ? content.id : content.username)">
  </ng-template>

  <ng-template pTemplate="footer" style="padding: 0 !important;">
    <div class="grid mt-1" style="text-align: center">
      <div class="col-12" *ngIf="(isLoggedIn) && ((user?.username !== content.username) && (this.type === 'user'))" style="text-align: right">
        <button pButton pRipple icon="pi pi-user-plus" class="p-button-rounded" (click)="addFriend(content.id)" pTooltip="Añadir a amigos"></button>
      </div>
      <div class="col-6" *ngIf="(isLoggedIn) && (crud && this.type !== 'user')">
        <button (click)="addToViewed(type+'/'+content.id)" pButton pRipple type="button" icon="pi pi-eye" class="p-button-rounded p-button-help" pTooltip="Visto"></button>
      </div>
      <div class="col-6" *ngIf="(isLoggedIn) && (crud && this.type !== 'user')">
        <button (click)="op.toggle($event)" pButton pRipple type="button" icon="pi pi-bookmark" class="p-button-rounded p-button-warning" pTooltip="Añadir a una lista"></button>
      </div>
    </div>
  </ng-template>


  <p-overlayPanel #op>
    <ng-template pTemplate>
        <p-listbox [options]="groupedLists" [group]="true" [(ngModel)]="selectedLists" [metaKeySelection]="false"
          [checkbox]="true" [filter]="true" [multiple]="true" [listStyle]="{'max-height':'250px'}"
          [style]="{'width':'15rem'}" optionLabel="title" (onClick)="showSuccess(content.id,selectedLists)" >

        <ng-template let-group pTemplate="group">
          <div class="flex align-items-center">
            <span>{{group.label}}</span>
          </div>
        </ng-template>

      </p-listbox>
    </ng-template>
  </p-overlayPanel>

</p-card>
