<p-toast></p-toast>

<p-card>

  <ng-template pTemplate="title" >
      <span [routerLink]="'/'+type+'/'+((type !== 'user') ? content.id : content.username)">
        {{
          (
            (type === 'movie') ? content.original_title : (
              (type === 'tv') ? content.original_name : content.username
            ) | titlecase
          )
        }}
      </span>
  </ng-template>

  <ng-template pTemplate="content">
    <div class="imageContainer" *ngIf="type !== 'user'">
      <img style="width: 100%;" alt="Card"
            [src]="(content?.poster_path ?
                   ('https://image.tmdb.org/t/p/w500' + content.poster_path) :
                   'https://png.clipart.me/previews/90c/movie-poster-background-vector-material-17011.jpg')"
            [routerLink]="'/'+type+'/'+((type !== 'user') ? content.id : content.username)"
             >
      <button *ngIf="content.vote_average" pButton pRipple type="button" [label]="content?.vote_average" class="p-button-rounded p-button-secondary"></button>
    </div>
  </ng-template>

  <ng-template pTemplate="footer" style="padding: 0 !important;">
    <div class="grid mt-1" style="text-align: center" *ngIf="isLoggedIn">
      <div class="col-12" *ngIf="((user?.username !== content.username) && (this.type === 'user'))" style="text-align: right">
        <button pButton pRipple
                icon="pi pi-user-plus"
                class="p-button-rounded"
                (click)="addFollower(content.id)"
                pTooltip="Seguir al usuario"></button>
      </div>
      <div class="col" *ngIf="(crud && this.type !== 'user')">
        <button (click)="addToViewed(type+'/'+content.id)" pButton pRipple type="button" [icon]="viewed ? 'fa-solid fa-eye' : 'fa-regular fa-eye'" class="p-button-rounded p-button-help" pTooltip="Visto"></button>
      </div>
      <div class="col" *ngIf="(crud && this.type !== 'user')">
        <button (click)="op.toggle($event)" pButton pRipple type="button" icon="pi pi-bookmark" class="p-button-rounded p-button-warning" pTooltip="Añadir a una lista"></button>
      </div>
      <div class="col" *ngIf="(crud && this.type !== 'user') && deleteButton">
        <button (click)="deleteContentFromList(content.id)" pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger" pTooltip="Quitar de la lista"></button>
      </div>
      <div class="col" *ngIf="(crud && this.type !== 'user' && viewed)">
        <button (click)="rating.toggle($event)" pButton pRipple type="button" [icon]="selectedRating ? 'fa-solid fa-star' : 'fa-regular fa-star'"class="p-button-rounded p-button-warning" pTooltip="Puntuar"></button>
      </div>
    </div>
  </ng-template>

  <p-overlayPanel #op>
    <ng-template pTemplate>
        <p-listbox
          [showToggleAll]="false"
          [filter]="false"
          [options]="groupedLists"
          [group]="true"
          [(ngModel)]="selectedLists"
          [metaKeySelection]="false"
          [checkbox]="true"
          [multiple]="true"
          [listStyle]="{'max-height':'250px'}"
          [style]="{'width':'15rem'}"
          optionLabel="title"
          (onClick)="toggleAdd(content.id,selectedLists)" >

        <ng-template let-group pTemplate="group">
          <div class="flex align-items-center">
            <span>{{group.label}}</span>
          </div>
        </ng-template>

      </p-listbox>
    </ng-template>
  </p-overlayPanel>

  <p-overlayPanel #rating>
    <p-dropdown [options]="ratingColl" [(ngModel)]="selectedRating" (onChange)="changeRating()" placeholder="Puntuación personal" [showClear]="true"></p-dropdown>
  </p-overlayPanel>

</p-card>
